<div class="Post__Grid-filters relative flex flex-col-reverse sm:flex-row sm:items-center justify-between pt-4 pb-8">
	<ul class="!list-none !m-0 flex items-center gap-4 overflow-auto no-scrollbar w-full sm:w-auto relative">
		<li>
			<button type="button" @click="isLoading = true; clearFilters();" class="body-extra-small py-2 px-5 rounded-full bg-white text-black" :class="!Object.entries(currentFilters).length ? '!bg-black !text-white' : ''">{{ __('All', 'pegasus') }}</button>
		</li>
		{% for filter in filters %}
			<li>
				<button type="button" @click="toggleFilters('{{ filter.slug }}', '{{ filter.taxonomy }}', 'taxonomy')" class="whitespace-nowrap body-extra-small py-2 px-5 rounded-full bg-white text-black" :class="if(filterIsActive('{{ filter.slug }}', '{{ filter.taxonomy }}', 'taxonomy')){ return '!bg-black !text-white' }">{{ filter.name }}</button>
			</li>
		{% endfor %}
	</ul>
</div>
