<div class="Quote__Slider-post pr-2.5 xs:pr-5 pb-10 xs:pb-0" data-pegasus-single-card>
    {{ item.meta('link') is not empty ? '<a href="' ~ item.meta('link') ~ '">' }}
    <div class="{{ block.backgroundColor ? 'bg-' ~ block.backgroundColor : 'bg-yellow-02' }} p-[31px] xs:p-[60px] rounded-[5px]">
        {% block postContent %}
            {% if 'quote' in data.card_content %}
                <div class="heading-four mb-[50px] xs:mb-[61px]">&ldquo;{{ item.meta('quote') }}&rdquo;</div>
            {% endif %}
            <div class="xs:flex items-center body-sm">

                {% if 'source_logo' in data.card_content %}
                    {% if item.terms('source') is not empty %}
                        <div class="mr-10 mb-5 xs:mb-0">
                            {{ pegasus_picture(item.terms('source')[0].meta('logo'), 'thumbnail', { img_atts: { class: 'min-w-[135px] w-4/5 sm:w-auto h-auto' } }) }}
                        </div>
                    {% endif %}
                {% endif %}

                <div>
                {% if 'title' in data.card_content %}
                    {% block cardTitle %}
                    <div class="">{{ item.title }}</div>
                    {% endblock %}
                {% endif %}

                {% if 'source' in data.card_content %}
                    {% if item.terms('source') is not empty %}
                        <span class="">{{ item.terms('source')[0] }}</span>{{ 'date' in data.card_content ? ',' }}
                    {% endif %}
                    <span class=""></span>
                {% endif %}

                {% if 'date' in data.card_content %}
                    {% block cardDate %}
                    <span class="">{{ item.post_date|date("Y") }}</span>
                    {% endblock %}
                {% endif %}
                </div>
            </div>
        {% endblock %}
    </div>
    {{ item.meta('link') is not empty ? '</a>' }}
</div>